body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #333 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.item > .product-image {
    width: 150px;
}
.item > .info {
    display: flex;
    flex-direction: column;
}